<% provide(:title, t(".home")) %>
<h1><%= t ".sample_app" %></h1>
<p>
  <%= t ".This_is_for_the"%>
  <a href="http://www.railstutorial.org/"><%= t ".tutorial_ruby"%></a>
  <%= t ".sample_application" %>.
</p>
